**/build/
**/output/

# Ігнорувати конкретні файли .dll в підпапках
**/*.dll

# Ігнорувати кеш файли
**/*.cache

# Ignore all build artifacts in any directory
**/bin/
**/obj/
**/build/

# Ignore specific file types in any directory
**/*.pdb
**/*.exe
**/*.cache
**/*.json

# Ignore AssemblyInfo.cs in any directory
**/AssemblyInfo.cs
CSLight/FightWithBoss/obj/Debug/net8.0/FightWithBoss.AssemblyInfo.cs
