# Ігноруємо папки з артефактами збірки
bin/
obj/

# Ігноруємо конфігурації та кеші IDE
.vscode/
.vs/

# Ігноруємо артефакти налагодження та звіти
*.log
*.user
*.suo
*.tmp
*.pdb

# Ігноруємо файли збірки та публікації
*.dll
*.exe
*.app
*.out

# Ігноруємо артефакти NuGet та інші пакетні менеджери
*.nuget/
packages/
